$bgColor: #fff0e1;
$mainColor: #b1c9ff;
$mainColorDark: #4a82ff;
$addColor: #cae99a;
$successColor: #80ba27;
$dangerColor: #e85128;
$disabledColor: #9b9b9b;

$breakPointSm: 768px;
$arrowSize: 14px;